/* HERO SLIDESHOW */
.hero-slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: slideShow 15s infinite ease-in-out;
}

.slide:nth-child(1) {
  animation-delay: 0s;
}

.slide:nth-child(2) {
  animation-delay: 5s;
}

.slide:nth-child(3) {
  animation-delay: 10s;
}

@keyframes slideShow {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  5% {
    opacity: 1;
    transform: scale(1); /* Start fade in / visible */
  }
  33% {
    opacity: 1;
    transform: scale(1.05); /* Zoom slightly while visible */
  }
  38% {
    opacity: 0; /* Fade out */
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}


